@import "card.css";
@import "faq.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-900: hsl(238, 29%, 16%);
  --blue-300: hsl(240, 73%, 65%);
  --violet-500: hsl(273, 75%, 66%);
  --red-200: hsl(14, 88%, 65%);
  --text-400: hsl(237, 12%, 33%);
  --text-200: hsl(240, 6%, 50%);
  --divider: hsl(240, 5%, 91%);
  --font-size: 0.75rem;

  font-family: "Kumbh Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;

  a {
    color: hsl(228, 45%, 44%);
  }
}
